<tr>
    <td style="max-width: 200px;">
        <p class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></p>
    </td>
    <td style="width: 200px;">
        <div class="progress progress-striped active" role="progressbar" 
        aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="margin-top: 10px;">
            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
        </div>
    </td>
    <td style="width: 250px;">
        <span class="btn btn-success uploadImg-uploadThis">
            <i class="glyphicon glyphicon-upload"></i>
            <span>Загрузить файл</span>
        </span>
        <span class="btn btn-warning">
            <span>Отмена</span>
        </span>
    </td>
</tr>
