{% extends 'common/base.html' %}
{% load staticfiles %}
{% load url from future %}


{# Title Block #}
{% block title_block %} Главная страница | Textum {% endblock %}



{# CSS Block #}
{% block css_block %}
<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
<style>
    .navex
    {
        background-color: lemonchiffon;
        position: fixed;
    }
</style>
{% endblock %}



{# Content Block #}
{% block content_block %}
<div class="container" >
    <div class="row">
        <div class="span2" id="navparent">
            <ul  class="nav nav-list navex" data-spy="affix">
                <li><a href="#o">overview</a></li>
                <li><a href="#c1">chap 1</a></li>
                <li><a href="#c2">chap 2</a></li>
                <li><a href="#c3">chap 3</a></li>
                <li><a href="#c4">chap 4</a></li>
                <li><a href="#c5">chap 5</a></li>
            </ul>
        </div>
        <div class="span9" >
            <p>top of the document</p>
            <p>
                With bootstrap version 2.2.2, a bug occurs on
                <ul>
                    <li>Firefox</li>
                    <li>Chrome</li>
                    <li>Opera</li>
                </ul>
                but not on IE10.<br/>
                
                <ul>
                    <li>Navigate to chap4, so that the url in the browser is /thispage<b>#c4</b></li>
                    <li>Refresh the window</li>
                </ul>
                <p>The offsets of the target anchors are now wrong computed, adding <br/>
                console.log(this[0]);<br/>
                in line 68 of bootstrap-scrollspy reveals it.
                <p>This causes the scrollspy to detect completely wrong links in the sidenav and also when a link is clicked in the navigation, another link is marked active. Must run this in a browser to see it!
            </p>
            <h3 id="o"  data-offset-top="200">Overview</h3><div style="height:500px">dummy content overview</div>
            <h3 id="c1" data-offset-top="200">Chapter 1</h3><div style="height:500px">dummy content 1</div>
            <h3 id="c2" data-offset-top="200">Chapter 2</h3><div style="height:500px">dummy content 2</div>
            <h3 id="c3" data-offset-top="200">Chapter 3</h3><div style="height:500px">dummy content 3</div>
            <h3 id="c4" data-offset-top="200">Chapter 4</h3><div style="height:500px">dummy content 4</div>
            <h3 id="c5" data-offset-top="200">Chapter 5</h3><div style="height:500px">dummy content 5</div>
        </div>
    </div>
</div>
{% endblock %}



{# JavaScript Block #}
{% block js_block %}
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-affix.js"></script> -->
{% endblock %}




