{% extends 'website/base.html' %}
{% load staticfiles %}
{% load url from future %}


{# Title Block #}
{% block title_block %} Главная страница | Textum {% endblock %}



{# CSS Block #}
{% block css_block %}
{% endblock %}



{# Content Block #}
{% block content_block %}
<div class="container">
    <div class="jumbotron">
        <h1>Главная страница</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-large btn-success" href="{% url 'website:sign_in' %}">Войти</a></p>
	</div>	
</div>
{% endblock %}



{# JavaScript Block #}
{% block js_block %}
{% endblock %}
