{% extends 'common/base.html' %}
{% load staticfiles %}
{% load url from future %}


{# Title Block #}
{% block title_block %} Sign In | Textum {% endblock %}



{# CSS Block #}
{% block css_block %}
<link href="{% static 'website/css/pages/sign_in.css' %}" rel="stylesheet" >
{% endblock %}



{# NavBar Block #}
{% block navbar_block %}
{% endblock %}



{# Content Block #}
{% block content_block %}
<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" class="form-control" placeholder="Email address" autofocus>
    <input type="password" class="form-control" placeholder="Password">
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-large btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div> <!-- /container -->
{% endblock %}



{# JavaScript Block #}
{% block js_block %}
{% endblock %}
