<ul>
    <li>
        <span class="btn btn-sm btn-info full-view-switch" title="Режим просмотра изображения">
            <span class="glyphicon glyphicon-th-large"></span><!--href="{% url 'textedit:fullView' %}"-->
        </span>
    </li>
    <li>
        <a href="#" class="btn btn-sm btn-info">
            <span class="glyphicon glyphicon-fullscreen"></span>
        </a>
    </li>
    
    <li>
        <span class="btn btn-sm btn-success addImage" title="Добавить страницы в галерею">
            <span class="glyphicon glyphicon-plus glyphicon-white"></span>
        </span>
    </li>
</ul> 
