<ul>
    <li>
        <span class="btn btn-sm btn-info full-view-switch" title="Вернуться в режим галлереи">
            <span class="glyphicon glyphicon-stop"></span>
        </span>
    </li>
    <li>
        <a href="#" class="btn btn-sm btn-info">
            <span class="glyphicon glyphicon-fullscreen"></span>
        </a>
    </li>
    <li>
        <a href="#" class="btn btn-sm btn-warning">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </li>
    <li>
        <a href="#" class="btn btn-sm btn-success">
            <span class="glyphicon glyphicon-plus glyphicon-white"></span>
        </a>
    </li>
</ul>
