{% load staticfiles %}
{% load url from future %}

{# {% static 'website/' %} #}

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title_block %}Textum | Base{% endblock title_block %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'website/bower_components/bootstrap/dist/css/bootstrap.css' %}">

    <!-- Common css -->
    <link rel="stylesheet" href="{% static 'website/css/common.css' %}">

    <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->

    {% block css_block %}
    {% endblock css_block %}
</head>

<body>
    <!-- Nav -->
    {% block navbar_block %}
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'website:home' %}"><b>Текстолог</b></a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">

                    <li><a href="{% url 'website:home' %}">Главная</a></li>
                    <li class="active"><a href="{% url 'textedit:main' %}">Textum</a></li>
                    <li><a href="{% url 'website:docs' %}">Документация</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Выпадающий <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Действие</a></li>
                            <li><a href="#">Другое действие</a></li>
                            <li><a href="#">Что-то другое</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Мини заголовок</li>
                            <li><a href="#">Ссылка</a></li>
                            <li><a href="#">Еще одна</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Right Part -->
                <div class="pull-right">
                    <a href="{% url 'website:log_in' %}" class="btn btn-default navbar-btn">Войти</a>
                    <a href="{% url 'website:log_in' %}" class="btn btn-info navbar-btn">Зарегистрироваться</a>
                </div>
            </nav><!--/.navbar-collapse -->
        </div>
    </header>
    {% endblock navbar_block %}


    {% block content_block %}
    {% endblock content_block %}

    <div class="container">
        <hr>
        <footer>
            <p class="pull-right">&copy; Kopin Boris 2013-2014</p>
        </footer>
    </div>

    {% block main_js_block %}
        <!-- jquery -->
        <script src="{% static 'website/bower_components/jquery/jquery.js' %}"></script>
        <!-- bootstrap -->
        <script src="{% static 'website/bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
    {% endblock main_js_block %}

    {% block js_block %}
    {% endblock js_block %}

</body>
</html>
