<div id="popupUploadImg" class="hidden">
    <form id="uploadImg" method="post" enctype="multipart/form-data" action="{% url 'textedit:upload_image' %}">
        {% csrf_token %}
        <div class="row" id="popupButtons">
            <div class="col-xs-12">
                <span class="btn btn-success fileinput-button">
                    <span>Добавить изображение</span>
                    <input type="file" name="file" multiple>
                </span>
            <!--</div>
            <div class="col-xs-4">-->
                <span class="btn btn-success fileinput-button" id="uploadImg-uploadAll">
                    <span>Загрузить все</span>
                </span>
            <!--</div>
            <div class="col-xs-4">-->
                <!--<span class="btn btn-warning fileinput-button" id="uploadImg-cancel">
                    <span>Отменить загрузку</span>
                </span>-->
            </div>
        </div>
        <table role="presentation" style="width: 700px; margin-left:10px; margin-bottom: 40px;">
            <tbody style="height: 200px; overflow: auto;">
                
            </tbody>
        </table>
        <span class="btn btn-warning fileinput-button" id="uploadImg-quit">
            <span>Отмена</span>
        </span>
    </form>
</div>
