<div id="popupUploadImg" class="hidden">
    <form id="uploadImg" method="post" enctype="multipart/form-data" action="{% url 'textedit:upload_image' %}">
        {% csrf_token %}
        <div class="row" id="popupButtons">
            <div class="col-xs-6">
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Добавить изображение</span>
                    <input type="file" name="file" multiple>
                </span>
            </div>
            <div class="col-xs-6">
                <span class="btn btn-warning fileinput-button" id="uploadImg-cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Отменить загрузку</span>
                </span>
            </div>
        </div>
        <ul style="list-style-type: none; overflow: auto; height: 100px; width: 200px;">
            
        </ul>
        <span class="btn btn-warning fileinput-button" id="uploadImg-quit">
            <i class="glyphicon glyphicon-remove"></i>
            <span>Отмена</span>
        </span>
    </form>
</div>
