<div id="popupUploadFile" class="hidden">
    <form id="uploadFile" method="post" enctype="multipart/form-data" action="{% url 'textedit:upload' %}">
        {% csrf_token %}
        <!--<p>Загружаемый файл должен быть в одном из следующих форматов: .txt, .doc, .docx, .odt, .rtf</p>-->
        <div class="row" id="popupButtons">
            <div class="col-xs-12">
                <span class="btn btn-success fileinput-button">
                    <!--<i class="glyphicon glyphicon-plus"></i>-->
                    <span>Добавить файл</span>
                    <input type="file" name="file">
                </span>
            <!--</div>
            <div class="col-xs-6">-->
                <span class="btn btn-warning fileinput-button" id="uploadFile-cancel">
                    <!--<i class="glyphicon glyphicon-ban-circle"></i>-->
                    <span>Отменить загрузку</span>
                </span>
            </div>
        </div>
        <p style="text-align: center; margin-top: 10px;" id="uploadFile-status"></p>
        <span class="btn btn-warning fileinput-button" id="uploadFile-quit">
            <!--<i class="glyphicon glyphicon-remove"></i>-->
            <span>Отмена</span>
        </span>
    </form>
</div>
