{% extends 'common/base.html' %}
{% load staticfiles %}
{% load url from future %}


{# Title Block #}
{% block title_block %} Textedit | Textum {% endblock %}



{# CSS Block #}
{% block css_block %}
    <!-- bootstrap3-wysihtml5-bower -->
    <link rel="stylesheet" href="{% static 'textedit/js/bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.css' %}">
    <!-- bootstrap - for file uploading -->
    <link rel="stylesheet" href="{% static 'textedit/js/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">

    <!-- jquery-file-upload -->
    <link rel="stylesheet" href="{% static 'textedit/js/bower_components/jquery-file-upload/css/jquery.fileupload.css' %}">
    <link rel="stylesheet" href="{% static 'textedit/js/bower_components/jquery-file-upload/css/jquery.fileupload-ui.css' %}">

    <!-- jscrollpane -->
    <link rel="stylesheet" href="{% static 'textedit/css/custom.jquery.jscrollpane.css' %}">

    <!-- textedit -->
    <link rel="stylesheet" href="{% static 'textedit/css/textedit.css' %}">
{% endblock %}



{# Content Block #}
{% block content_block %}

    {% include 'textedit/popupUploadFile.html' %}
    {% include 'textedit/popupUploadImage.html' %}

    <div class="row mainView">
        <div class="col-lg-6 leftView">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-xs-8">
                        <h3 id="headerForTexteditor">Текст</h3>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" class="btn btn-success btn-large" id="uploadButton">
                            <span class="glyphicon glyphicon-upload"></span> Загрузить файл
                        </a>
                    </div>
                </div>
                <hr>
                {% if is_odf %}
                    <div style="height: 634px; overflow: auto;" id="webodf-wrapper">
                        <div id="webodf-textarea">
                            <p>Нет текстового файла. Нажмите кнопку <b>"Загрузить файл"</b>.</p>
                        </div>
                    </div>
                {% else %}
                    <textarea id="wysihtml5-textarea" placeholder="Введите текст ..."></textarea>
                {% endif %}
                
            </div>
        </div>
        <div class="col-lg-6 rightView">
            <div class="jumbotron">

                <h3>Рукопись</h3>
                <hr />
                <nav class="galleryMenu">
                    <ul id="normal-view-menu">
                        <li>
                            <span class="btn btn-sm btn-info full-view-switch" title="Режим просмотра изображения">
                                <span class="glyphicon glyphicon-th-large"></span><!--href="{% url 'textedit:fullView' %}"-->
                            </span>
                        </li>
                        <li>
                            <a href="#" class="btn btn-sm btn-info">
                                <span class="glyphicon glyphicon-fullscreen"></span>
                            </a>
                        </li>
                        
                        <li>
                            <span class="btn btn-sm btn-success addImage" title="Добавить страницы в галерею">
                                <span class="glyphicon glyphicon-plus glyphicon-white"></span>
                            </span>
                        </li>
                    </ul>

                    <ul id="full-view-menu" class="hidden">
                        <li>
                            <span class="btn btn-sm btn-info normal-view-switch" title="Вернуться в режим галлереи">
                                <span class="glyphicon glyphicon-stop"></span>
                            </span>
                        </li>
                        <li>
                            <a href="#" class="btn btn-sm btn-info">
                                <span class="glyphicon glyphicon-fullscreen"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-search"></span>
                            </a>
                        </li>
                        <!--<li>
                            <a href="#" class="btn btn-sm btn-success">
                                <span class="glyphicon glyphicon-plus glyphicon-white"></span>
                            </a>
                        </li>--> <!-- Do we need an image adding button in fullview mode? -->
                    </ul>

                </nav> <!-- galleryMenu end -->
                <div class="photoGallery">
                    <ul class="photoGrid">
                            <!--<li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>
                            <li><span>56</span><img src="{% static 'textedit/img/test.JPG' %}" alt="Рукопись"></li>-->
                            
                    </ul>
                </div> <!-- photoGallery end -->
                <!--<div class="pages">
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>-->
                <form id="search-page">
                    <input type="text" placeholder="Номер страницы&hellip;"/>
                    <span class="btn btn-small btn-primary" title="Найти и отобразить страницу">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block main_js_block %}
{% endblock %}

{# JavaScript Block #}
{% block js_block %}

    <!-- main -->
    <script data-main="{% static 'textedit/js/main.js' %}" 
            src="{% static 'textedit/js/bower_components/requirejs/require.js' %}">
    </script>
    
{% endblock %}